{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true,
        "jasmine": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-console": 0,
        "indent": [
            "error",
            4
        ],
        "quotes": [
            "error",
            "double"
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "no-trailing-spaces": [
            2,
            {
                "skipBlankLines": false
            }
        ]
    }
}
